
<%= form_with model: @group, url: user_groups_path(@user), class:'add-food-forms-container', method: :post do |f| %>
  <%= render "devise/shared/error_messages", resource: @group %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :icon %>
    <%= f.text_field :icon %>
  </div>

  <div class="actions">
    <%= f.submit "Add Category" %>
  </div>
<% end %>


