
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="login-header-container">
  <a href="/" class="login-back-link">
      &#8592;
  </a>
  <p class="login-title">LOGIN</p>
    <div class="actions">
    <%= f.submit "Log in", class: "login-btn" %>
  </div>
</div>

  <div class="field login-email-input-container">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "login-email-text-input" %>
  </div>

  <div class="field login-password-input-container">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "login-password-text-input" %>
  </div>
  
  <p class="notice"><%= notice %></p> 
<p class="alert"><%= alert %></p>
<% end %>
